.heading {
    padding: 2rem;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.light {
    font-weight: 100;
}
.header {
    margin: auto;
    background-color: rgba(6, 6, 6, 0.967);
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    transition: height 0.3s ease;
    /* border-top-left-radius: 16px;
    border-top-right-radius: 16px; */
}
.container {
    margin: auto;
    height: 100%;
    width: 82%;
}
.header__logo {
    position: absolute;
    inset: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img__logo {
    height: 28px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 1.5rem;
}
.active {
    border-bottom: #ffffff solid 2px;
}
