@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap');

:root {
    --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    --bg-color: rgb(40 111 226);
    --bg-color--card: rgba(255, 255, 255, 0.08);

    --main-text-color: #ffffff;

    --main-border-radius: 25px;
    --secondary-border-radius: 15px;
}
a {
    text-decoration: none;
    color: unset;
}
a:hover {
    text-decoration: none;
    color: unset;
    /* border-bottom: #ffffff solid 2px; */
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}
